@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 100%;
  height: 90px;
  background-color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 35px;
  font-size: 18px;
  cursor: pointer;
}

nav ul li:hover {
  color: #ccae5a;
}

.our {
  text-align: center;
  background-color: #20908b;
  height: 400px;
  padding: 50px;
}

.our h1 {
  color: #fff;
  font-size: 50px;
}

.our p {
  color: #fff;
}

.our button {
  width: 150px;
  height: 46px;
  border: none;
  border-radius: 13px;
  margin-top: 15px;
  color: #fff;
  background-color: #ee701c;
  font-size: 15px;
}

.our button:hover {
  background-color: #c86422;
}

.about {
  width: 100%;
  height: 569px;
  background-color: #fdf0e7;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 150px;
  align-items: center;
  padding: 0 80px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  transition-duration: inherit;
}

.rasm {
  width: 365px;
  height: 365px;
  background-image: url(../assets/card.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.about div h1 {
  font-size: 50px;
}

.about div p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  color: #111;
}

.about div h2 i {
  font-size: 45px;
  color: #ee701c;
  cursor: pointer;
}

.about div h2 {
  font-size: 40px;
}

.about div h2:hover {
  color: #ee701c;
}

.about div p a {
  text-decoration: none;
  color: #f2c50e;
}

.about div p a:hover {
  color: #e0b60d;
}

.lets {
  width: 100%;
  height: 569px;
  background-color: #ee701c;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 150px;
  align-items: center;
  padding: 0 80px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  transition-duration: inherit;
}

.foto {
  width: 365px;
  height: 365px;
  background-image: url(../assets/card1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.lets div {
  padding: 30px;
}

.lets div h1 {
  font-size: 50px;
  color: #fff;
}

.lets div p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.lets div span {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.lets div span a {
  text-decoration: none;
  color: #f2c50e;
}

.lets div span a:hover {
  color: #e0b60d;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

.card {
  width: 373px;
  height: 396px;
  overflow: hidden;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  transform-origin: center;
}

.card:hover .card-img img {
  transform: scale(1.1);
}

.p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
}

.p a {
  color: #f2c50e;
  text-decoration: none;
}

.p a:hover {
  color: #cda710;
}

.marketing1 {
  width: 100%;
  height: 779px;
  background-color: #fdf0e7;
  font-family: 'Open Sans', sans-serif;
}

.marketing {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.sample {
  width: 367px;
  height: 292px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 60px;
}

.sample h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #111;
  margin-top: 60px;
}

.sample p {
  color: #999999;
  line-height: 25px;
}

.sample button {
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #20908b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}

.sample button:hover {
  background-color: #f2c309;
  color: #111;
}

.box1 {
  width: 367px;
  height: 292px;
  border-radius: 20px;
  background-image: url(../assets/cardlar/rasm1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}

.box2 {
  width: 367px;
  height: 292px;
  border-radius: 20px;
  background-image: url(../assets/cardlar/rasm2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}

.box3 {
  width: 367px;
  height: 292px;
  border-radius: 20px;
  background-image: url(../assets/cardlar/rasm3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box4 {
  width: 367px;
  height: 292px;
  border-radius: 20px;
  background-image: url(../assets/cardlar/rasm4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  width: 367px;
  height: 292px;
  text-align: center;
  background-color: #ee701c;
  border-radius: 20px;
}

.flex h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 60px;
}

.flex p {
  color: #fff;
  line-height: 25px;
}

.flex button {
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #20908b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}

.flex button:hover {
  background-color: #f2c309;
  color: #111;
}

.asd {
  text-align: center;
  margin: 30px;
}

.sdf {
  width: 100%;
  height: 130px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
